<div class="config-top-right">
  <%= link_to("Settings", new_camera_configuration_path) %>
</div>

<div class="secondary-status status-top">
  <p></p>
</div>

<div class="status action-text status-center">
  <%= render 'form', shoot: @shoot %>
</div>


<script>
  $(".status-center").click(function() {
    $("form.new_shoot").submit();
  });
</script>
