<div class="photo-portrait">
  <%= image_tag(@shoot.image1, style: 'height:100%;width:100%;') %>
</div>
<div class="photo-container">
  <%= image_tag(@shoot.image2, style: 'height:100%;width:100%;') %>
</div>
<div class="photo-container">
  <%= image_tag(@shoot.image3, style: 'height:100%;width:100%;') %>
</div>
<div class="photo-container">
  <%= image_tag(@shoot.image4, style: 'height:100%;width:100%;') %>
</div>
