<section class="ten_fifteen">
  <section class="photos">
    <% @shoot.images.each do |image| %>
      <div class="photo-container">
        <%= image_tag image.image.url(:headshot) %>
      </div>
    <% end %>
  </section>
  <section class="title">
    <div class="print-title">
      <h2>G & T - 20 July 2019</h2>
    </div>
  </section>
</section>
