<div class="ten-fifteen-centered">
<section class="ten_fifteen">
  <section class="photos">
    <% @shoot.images.each do |image| %>
      <div class="photo-container">
        <%= image_tag image.image.url(:headshot) %>
      </div>
    <% end %>
  </section>
  <section class="title">
    <div class="buttons">
      <div class="half half-left">
        <%= link_to "Print", event_shoot_prints_path(@shoot.event.id, @shoot.id), class: "primary-button half-button" %>
      </div>
      <div class="half half-right">
        <%= link_to "Start again", new_event_shoot_path(@shoot.event.id), class: "secondary-button half-button" %>
      </div>
    </div>
  </section>
</section>
