    <link href="https://fonts.googleapis.com/css?family=Buenard" rel="stylesheet">
<style>
html {
  width: 100%;
  height: 100%;
  background: #000000;
}

section.ten_fifteen {
  width: 101mm;
  height: 148mm;
  background: #000000;
}

section.photos {
  width: 101mm;
  height: 130mm;
}

.photo-container {
  width: 170px;
  height: 255px;
  float: left;
  border: 1px solid #DAA520;
  margin: 20px 8px 0px 8px;
}

.photo-container img {
  width: 100%;
  height: 100%;
}

.print-title {
  text-align: center;
}


h2 {
  font-size: 50px;
  color: #FFFFFF;
  font-family: 'Buenard', serif;
}
</style>
<section class="ten_fifteen">
  <section class="photos">
    <% shoot.images.each do |image| %>
      <div class="photo-container">
        <%= pdf_image_tag image.image.url(:headshot) %>
      </div>
    <% end %>
  </section>
  <%# <section class="title"> %>
  <%#   <div class="print-title"> %>
  <%#     <h2>G & T - 20 July 2019</h2> %>
  <%#   </div> %>
  <%# </section> %>
</section>

