// Place all the styles related to the shoots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.image {
  background-image: image-url("background.png");
  background-position: center top;
  background-repeat: no-repeat;
}

html.red {
  background-color: red;
}

.status {
  position: fixed; /* or absolute */
  font-size: 160px;
  color: #ffffff;
}

.status-center {
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -220px;
}

.status-left {
  top: 50%;
  left: 5%;
  margin-top: -100px;
}

form.new_shoot input {
  width: 440px;
  height: 200px;
}

.ten-fifteen-centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -148mm;
  margin-left: -104mm;
}

section.ten_fifteen {
  width: 210mm;
  height: 296mm;
  background: #000000;
  border: 1px solid #ccc!important;
}

section.photos {
  width: 210mm;
  height: 27cm;
}

.buttons {
  margin-top: 3px;
  width: 210mm;
  height: 60mm;
}

.thirty {
  font-size: 30px;
}

.buttons .half {
  width: 50%;
  float: left;
}

.buttons .half-left a {
  width: 100mm;
  margin-left: 3.5mm;
  text-align: center;
}

.buttons .half-right a {
  width: 100mm;
  text-align: center;
}

.photo-container {
  width: 320px;
  height: 480px;
  float: left;
  border: 2px solid #DAA520;
  margin: 26px 0px 0px 50px;
}

.photo-container img {
  width: 100%;
  height: 100%;
}

.print-title {
  width: 105mm;
  text-align: center;
}

.print-title h3 {
  color: #FFFFFF;
  font-family: 'Buenard', serif;
}
