// Place all the styles related to the shoots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-image: image-url("background.jpg");
}

.start-centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

form.new_shoot input {
  width: 200px;
  height: 100px;
}

.ten-fifteen-centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -74mm;
  margin-left: -52mm;
}

section.ten_fifteen {
  width: 105mm;
  height: 148mm;
  background: #000000;
  border: 1px solid #ccc!important;
}

section.photos {
  width: 105mm;
  height: 13.5cm;
}

.buttons {
  margin-top: 3px;
  width: 105mm;
  height: 30mm;
}

.buttons .half {
  width: 50%;
  float: left;
}

.buttons .half-left a {
  width: 40mm;
  margin-left: 3.5mm;
  text-align: center;
}

.buttons .half-right a {
  width: 40mm;
  text-align: center;
}

.photo-container {
  width: 160px;
  height: 240px;
  float: left;
  border: 1px solid #DAA520;
  margin: 13px 0px 0px 25px;
}

.photo-container img {
  width: 100%;
  height: 100%;
}

.print-title {
  width: 105mm;
  text-align: center;
}


.print-title h3 {
  color: #FFFFFF;
  font-family: 'Buenard', serif;
}
