// Place all the styles related to the shoots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.ten_fifteen {
  width: 105mm;
  height: 148mm;
  background: #000000;
  border: 1px solid #ccc!important;
}

section.photos {
  width: 105mm;
  height: 13.5cm;
}

.buttons {
  margin-top: 15px;
  width: 105mm;
  height: 30mm;
}

.buttons a {
  margin: 0 15px 0 0;
}

.photo-container {
  width: 160px;
  height: 240px;
  float: left;
  border: 1px solid #DAA520;
  margin: 13px 0px 0px 25px;
}

.photo-container img {
  width: 100%;
  height: 100%;
}

.print-title {
  width: 105mm;
  text-align: center;
}


.print-title h3 {
  color: #FFFFFF;
  font-family: 'Buenard', serif;
}
